body{
    background-color: #bbb;
    margin: 0;
}
.top h1{
    background-color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    text-transform: capitalize;
    font: black;
    margin-top: 0;
    padding: 20px;
    

 
}
.card{
    border: none;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    

}
.card-top{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.card-img  img {
    width: 500px;
    height: 360px;
    object-fit: cover;

}

h2{
    color: black;
    margin-left: 10px;
    margin-top: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: large;

}
h3 {
    color: #999;
    margin-right: 10px;

}
.card-bottom p {
    background-color: white;
    padding: 20px;
    text-align: justify;
    font-size: 16px;
    margin-top: 0;
    border-color: white;
   }
